.mainPage {
  display: flex;
  flex-direction: row;
  .aboutProject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 39.1vw;
    margin-left: 8.8vw;
    margin-right: 4.4vw;
    height: 100vh;
    @media screen and (min-width: 1024px) and (max-width: 1439px){
      min-width: 49.1vw;
      margin-left: 8.6vw;
      margin-right: 2.3vw;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
      width: 88.84vw;
      margin-left: 15.33vw;
      margin-right: 4.17vw;
    }

    @media screen and (max-width: 767px){
      width: 100vw;
      margin-left: 0;
      margin-right: 0;
      justify-content: normal;
    }

    .upper{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 2.1vw;
      @media screen and (min-width: 1024px) and (max-width: 1439px){
        margin-top: 3.125vw;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px){
        margin-top: 4.17vw;
      }
      @media screen and (max-width: 767px){
        flex-direction: column;
        align-items: flex-end;
        margin-right: 5vw;
        margin-bottom: 16vw;
      }
      span{
        &:nth-child(1){
          color: #0EC261;
          font-size: 2.08vw;
          font-weight: bold;

          @media screen and (min-width: 1024px) and (max-width: 1439px){
            font-size: 2.93vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 3.9vw;
          }
          @media screen and (max-width: 767px){
            font-size: 9.37vw;
          }
        }
        &:nth-child(2){
          font-size: 1vw;
          line-height: 1.1vw;
          color: #999999;
          font-weight: normal;
          @media screen and (min-width: 1024px) and (max-width: 1439px){
            font-size: 1.36vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 1.83vw;
          }
          @media screen and (max-width: 767px){
            font-size: 4.38vw;
          }
        }
      }
    }
    .mainPart{
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 767px){
        flex: 1;
      }
      span{
        &:nth-child(1){
          font-weight: bold;
          font-size: 4.86vw;
          line-height: 4.58vw;
          @media screen and (min-width: 1024px) and (max-width: 1439px){
            font-size: 6.84vw;
            line-height: 6.45vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 9.11vw;
            line-height: 9.11vw;
          }
          @media screen and (max-width: 767px){
            font-size: 10vw;
            margin-left: 5vw;
            line-height: 10vw;
          }
        }
        &:nth-child(2){
          font-weight: bold;
          font-size: 4.86vw;
          line-height: 4.58vw;
          color: #0EC261;
          @media screen and (min-width: 1024px) and (max-width: 1439px){
            font-size: 6.84vw;
            line-height: 6.45vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 9.11vw;
            line-height: 8.59vw;
          }
          @media screen and (max-width: 767px){
            font-size: 10vw;
            margin-left: 5vw;
            line-height: 15.6vw;
          }
        }
        &:nth-child(3){
          font-size: 1.8vw;
          line-height: 2.09vw;
          color: #999999;
          margin-top: 2vw;
          font-weight: 300;
          @media screen and (min-width: 1024px) and (max-width: 1439px){
            font-size: 2.54vw;
            line-height: 2.9vw;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 3.39vw;
            line-height: 3.9vw;
          }
          @media screen and (max-width: 767px){
            font-size: 5.6vw;
            margin-left: 5vw;
            line-height: 6.56vw;
          }
        }
      }
      div{
        display: block;
        position: relative;
        width:  17.36vw;
        font-size: 1.25vw;
        text-align: center;
        padding: 0.8vw;
        margin-top: 4vw;
        background-image: linear-gradient(to right, #0EC261 2.61%, #039F67 112.6%);
        background-blend-mode: darken;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-weight: 500;
        p{
          position: relative;
          z-index: 1;
        }
        &:after {
          content: '';
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          transition: opacity 0.7s ease;
          border-radius: 8px;
          color: white;
          background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
        }

        &:hover:after {
          opacity: 1;
        }
        @media screen and (min-width: 1024px) and (max-width: 1439px){
          width:  24.4vw;
          font-size: 1.76vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px){
          width: 32.56vw;
          font-size: 2.34vw;
        }
        @media screen and (max-width: 767px){
          width: 100vw;
          border-radius: 0;
          font-size: 5.63vw;
          padding: 3vw;
          margin-top: 10vw;
        }
      }
    }
    .bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2.22vw;
      @media screen and (min-width: 1024px) and (max-width: 1439px){
        margin-bottom: 3.5vw;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px){
        margin-bottom: 5.2vw;
      }
      @media screen and (max-width: 767px){
        flex-direction: column-reverse;
        align-items: flex-end;
        background: #151B1F;
        padding: 4vw;
        margin-bottom: 0;
      }
      span{
        font-size: 0.9vw;
        font-weight: normal;
        @media screen and (min-width: 1024px) and (max-width: 1439px){
          font-size: 1.27vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px){
          font-size: 1.69vw;
        }
        @media screen and (max-width: 767px){
          color: #EEEEEE;
          font-size: 4.06vw;
        }
        &:nth-child(1){
          color: #999999;
          @media screen and (max-width: 767px){
            color: #EEEEEE;
          }
        }
        &:nth-child(2){
          a{
            color: #121212;
            text-decoration: none;
            @media screen and (max-width: 767px){
              color: #0EC261;
            }
          }
        }
      }
    }
  }
}