.sliderWrapper{
  overflow: hidden;
  @media screen and (max-width: 768px){
    display: none;
  }
  .arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 4.44vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) 100vh;
    mix-blend-mode: normal;
    transition: background 1s ease-out;
    &:nth-child(2){
      img{
        transform: rotate(180deg);
      }
    }
    &:hover{
      background: #0EC261;
      opacity: 0.2;
      transition: background 1s ease-in;
    }
  }
  .arrowPrev{
    position: absolute;
    z-index: 1;
  }
  .arrowNext{
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .sliderInner{
    display: flex;
    .slide{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 47.7vw;
      background-size: 100%;
      background: no-repeat right;
      &:nth-child(4){
        background: no-repeat left;
      }
      @media screen and (max-width: 1024px){
        min-width: 41.9vw;
      }
      min-height: 100vh;
      .content{
        color: white;
        width: 35vw;
        @media screen and (max-width: 1024px){
          width: 27.5vw;
        }
        .headSlide{
          font-size: 2.78vw;
          font-weight: 500;
          line-height: 37px;
          @media screen and (max-width: 1024px){
            font-size: 3.125vw;
          }
        }
        .mainTextSlide{
          color: #EEEEEE;
          font-weight: 300;
          font-size: 1.67vw;
          line-height: 24px;
          margin-top: 1vw;
          @media screen and (max-width: 1024px){
            font-size: 2.15vw;
          }
        }
        .aboutSlide{
          background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
          cursor: pointer;
          border-radius: 4px;
          width: 11.39vw;
          text-align: center;
          padding: 0.8vw;
          margin-top: 2vw;
          transition: background 0.7s ease;
          &:hover{
            background-position: 11.39vw;
          }
          @media screen and (max-width: 1024px){
            width: 16vw;
            font-size: 1.76vw;
          }
        }
      }
    }
  }
  .blockNumberOfSlides{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    right: 21%;
    div{
      background: #EEEEEE;
      border-radius: 50%;
      width: 0.7vw;
      height: 0.7vw;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4){
        margin-left: 0.5vw;
      }
    }
    .activeSlideNumber{
      background: #0EC261;
    }
  }
}